<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoodFood</title>

        <style>
table, th, td {
  border:1px solid black;
}
 </style>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br>
<style> body{background-image: url(https://img.freepik.com/free-vector/healthy-lifestyle-mobile-wallpaper-with-quote-eat-good-feel-good_53876-100539.jpg?w=2000);background-size: 580px 630px;background-repeat: repeat;}</style>

<blockquote>
<table style="width:100%">
    <br>
    <tr>
        <th>&nbsp;Beverages</th>
        <th>&nbsp;Meals</th>
        <th>&nbsp;Snacks</th>
        <th>&nbsp;Fruits & nuts</th>
    </tr>

     <tr>
      <td>&nbsp;&nbsp;&nbsp;Pomegranate juice</td>
      <td>&nbsp;&nbsp;&nbsp;Quinoa & Pecan Salad &nbsp;&#127793;</td>
      <td>&nbsp;&nbsp;&nbsp;Healthy egg toast</td>
      <td>&nbsp;&nbsp;&nbsp;Bowl of watermelon parts</td>
  </tr>

  <tr>
      <td>&nbsp;&nbsp;&nbsp;Sports drink</td>
      <td>&nbsp;&nbsp;&nbsp;Grilled chicken</td>
      <td>&nbsp;&nbsp;&nbsp;Veggies & hummus &nbsp;&#127793;</td>
      <td>&nbsp;&nbsp;&nbsp;Bowl of berries</td>
  </tr>

    <tr>
        <td>&nbsp;&nbsp;&nbsp;Low fat milk</td>
        <td>&nbsp;&nbsp;&nbsp;Pasta Arabiatta</td>
        <td>&nbsp;&nbsp;&nbsp;Greek yogurt with mango, nuts and seeds</td>
        <td>&nbsp;&nbsp;&nbsp;Banana</td>
    </tr>

    <tr>
        <td>&nbsp;&nbsp;&nbsp;Strawberry-banana smoothie</td>
        <td>&nbsp;&nbsp;&nbsp;Salmon with sweet potatoes</td>
        <td>&nbsp;&nbsp;&nbsp;Mini eggplant pizzas &nbsp;&#127793;</td>
        <td>&nbsp;&nbsp;&nbsp;Apple</td>
    </tr>

    <tr>
        <td>&nbsp;&nbsp;&nbsp;Green Tea</td>
        <td>&nbsp;&nbsp;&nbsp;Spinach and ricotta penne &nbsp;&#127793;</td>
        <td>&nbsp;&nbsp;&nbsp;Whole-grain bagel with creamcheese, walnuts and honey </td>
        <td>&nbsp;&nbsp;&nbsp;Peach</td>
    </tr>

    <tr>
        <td>&nbsp;&nbsp;&nbsp;Cappuccino</td>
        <td>&nbsp;&nbsp;&nbsp;Creamy tomato risotto &nbsp;&#127793;</td>
        <td>&nbsp;&nbsp;&nbsp;Lentil soup &nbsp;&#127793;</td>
        <td>&nbsp;&nbsp;&nbsp;Bowl of almonds, walnuts and peanuts</td>
    </tr>

</table></blockquote>

</body>
</html>